<script type="text/ng-template" id="order-statistics-not-authorized.html">
    <div class="vc-gridster">
        <img class="vc-gridster__img" src="Modules/$(VirtoCommerce.Orders)/Content/order-statistic.svg" alt="">
        <div class="vc-gridster__info">
            <div class="vc-gridster__title">{{'orders.widgets.statistics-templates.title' | translate}}</div>
            <div class="vc-gridster__description">
                {{'orders.widgets.statistics-templates.not-authorized' | translate}}
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenue.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.revenue track by $index">{{data.amount | currency:data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.revenue' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-customersCount.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.customersCount | number:0}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.customers-with-orders' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenuePerCustomer.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.revenuePerCustomer track by $index">{{data.amount | currency:data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.revenue-per-customer' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-orderValue.html">
    <div class="gridster-cnt" ng-click="openBlade()">
        <div class="cnt-inner">
            <div class="list-count">
                <div ng-repeat="data in $storage.ordersDashboardStatistics.avgOrderValue track by $index">{{data.amount | currency:data.currency}}</div>
            </div>
            <div class="list-t">{{'orders.widgets.statistics-templates.average-order-value' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-itemsPurchased.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.itemsPurchased | number:0}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.items-purchased' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-lineItemsPerOrder.html">
    <div class="gridster-cnt">
        <div class="cnt-inner">
            <div class="list-count">{{$storage.ordersDashboardStatistics.lineItemsPerOrder| number : 1}}</div>
            <div class="list-t">{{'orders.widgets.statistics-templates.lines-per-order' | translate}}</div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="order-statistics-revenueByQuarter.html">
    <div google-chart chart="$storage.ordersDashboardStatistics.chartRevenueByQuarter" style="height:100%"></div>
</script>
<script type="text/ng-template" id="order-statistics-orderValueByQuarter.html">
    <div google-chart chart="$storage.ordersDashboardStatistics.chartOrderValueByQuarter" style="height:100%"></div>
</script>
